html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}
.container-blue{
    background-color: rgb(141, 203, 255);
    color: rgb(43, 43, 43);
    border-radius: 4px;
}
